<h2>Admin Login</h2>
<form method="POST" action="/admin/login">
  <input name="email" placeholder="Admin Email" required />
  <input name="password" type="password" required />
  <button>Admin Login</button>
</form>
