<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
      TrustCart
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">Shop</a>
        <a class="nav-link" href="/admin/dashboard">Admin</a>
      </div>
    </div>
  </div>
</nav>
