<% layout("/layouts/boilerplate") %>

<div class="home-box">
  <h1>Welcome to TrustCart</h1>

  <div class="home-buttons">
    <a href="/login" class="btn btn-primary">User Login</a>
    <a href="/register" class="btn btn-success">User Register</a>
    <a href="/admin/login" class="btn btn-dark">Admin Login</a>
  </div>
</div>
