.body {
  font-family: "Plus Jakarta Sans", sans-serif ;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: flex;
  flex-direction: column;
    min-height: 100vh;
}
.container{
    flex:1;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.nav-link{
    color : #222222 !important;
}

.f-info-links a {
    text-decoration: none;
    color:#222222;
}

.f-info-links a :hover{
    text-decoration: underline;
}
.f-info-links , 
.f-info-socials , .f-info-brand{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    margin-right : 1rem;
    font-size: 1.2rem;
}
.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}